$base-grey: white;
$base-white: #fff;
$primary: #0f0f0f;
$small-screen-font: 1.5rem;
$primary-border: #dcdcdc;
$grey-medium: #b4b4b4;
$grey-light: #f9f9f9;
$grey-dark: #8c8c8c;
$mid-screen-font: 1.9rem;
$button-dark: #323232;
$slider-track: #c8c8c8;
$light-green: #43be88;
$grey98: #fafafa;
